
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.logo-design{
  font-weight: 800;
  font-size: 45px;
}
.mary-design{
  color: #FD6E0A;
}
nav li{
  list-style: none;
  margin-right: 51px;
}
nav li a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
/* Applying flex on nav bar */
nav ul{
  display: flex;
  align-items: center;
}
.btn-style{
  background-color: #FD6E0A;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 18px 35px;
  font-size: 20px;
}
/* Banner Design */
.banner-greeting{
  font-weight:600;
  font-size: 45px;
  color: #474747;
}
.banner-title{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
}
.banner-description{
  font-size: 18px;
  color: #757575;
}
.banner-profile-pic{
  width: 580px;
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
  
}
.banner-content{
  max-width: 585px;
  height: 356px;
}
